body {
    background-color: lightcyan;
}
section a:link { 
    color: green;
    background-color: greenyellow;
}
section a:visited {
    color: purple;
    background-color: blueviolet;
}
section a:hover {
    color:red;
    background-color: brown;
}
section a:active {
    color:orange;
    background-color: bisque;
}






