body {
    background-color: lightgoldenrodyellow;
}
section li:nth-child(odd) {background: gray;}
section li:nth-child(even){background: lightgray;}
p::before {
    content: "";
}
section li:nth-child(odd) {background: gray;}
section li::before {
    content: "==> ";
}
section li:hover {
    cursor: pointer;
    background-color: gray;
}

.hecha::after {
    content: "  \\/";
    color: greenyellow;
}
.lista {
    text-align: center;
    color:red;
}
